#
# .gitignore: Ignore untracked files or directories.
#
app/projects/*/Output/obj/*
app/projects/*/*.layout
app/projects/*/Output/bin/*.O
app/projects/*/*.depend
app/projects/*/Output/bin/app.bin
app/projects/*/Output/bin/app.dcf
app/projects/*/Output/bin/app.rv32
app/projects/*/Output/bin/app.lst
app/projects/*/Output/bin/map.txt
app/projects/*/xcfg.h
app/projects/*/Output/bin/xcfg.h
app/projects/*/Output/bin/res/*
app/projects/*/Output/bin/Settings/*
app/projects/*/Output/bin/ui/*
app/projects/*/Output/bin/ui.bin
app/projects/*/Output/bin/ui.h
app/projects/*/ui.h
app/projects/*/Output/bin/ute_ui_coord_file.h
ute/language/defaultLanguage/*
app/projects/*/Output/bin/res.bin
app/projects/*/Output/bin/res.h
app/projects/*/res.h
.vscode/*
app/projects/*/Output/bin/Downloader/DebugDatas/*
app/projects/*/Output/bin/Downloader/Settings/*
app/projects/*/Output/bin/Output/*
AB5691_SDK.cppcheck
AB5691_SDK-cppcheck-build-dir/*